@font-face {
    font-family: "pragati-narrow";
    src: url('fonts/pragati-narrow-bold.woff');
}

* {
    box-sizing: border-box;
}

#app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url("static/background.png");
    background-size: cover;

}

.greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 22px;
    font-size: 38px;
    color: #fff;
    max-width: 60%;
    position: relative;
    font-family: "pragati-narrow", "sans-serif";
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
.greeting a {
    color: #fff;
    text-decoration: none;
}
.greeting a:hover {
    color: #fff;
    text-decoration: underline;
}

.greeting:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url('static/fti_logo.png');
    background-repeat: no-repeat;
    margin-right: 22px;
    left: 0;
    -webkit-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}

@media (max-width: 1074px) {

    .greeting {
        font-size: 22px;
        padding: 0;
    }

    .greeting:before {
        -webkit-transform: translate(25%, -100%);
        transform: translate(25%, -100%);
    }
}

@media (max-height: 645px) {

    .greeting {
        font-size: 22px;
        padding: 0;
    }

    .greeting:before {
        -webkit-transform: translate(25%, -100%);
        transform: translate(25%, -100%);
    }
}